body {
    min-height: 100vh;
}

.main-div {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

form {
    width: 90vw;
    align-self: center;
    justify-self: center;
}

.radios_comment_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radios_div{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: rgb(104, 187, 239);
    background-color: #6C757D;
}